* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #01004b;
    height: 60px;
    /* border-bottom: 1px solid #a50c0a; */
}

a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo img {
    width: 45px;
}
.logo p {
    margin-left: 1vw;
    color: #ff5e00;
    font-family: federant;
    font-size: 30px;
    
}
.logo :hover {
    color: #ffffff;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation a {
    text-decoration: none;
    font-size: 20px;
    font-family: IMB;
    color: #f0f4f5;
    margin-left: 50px;
}

.navigation p {
    color: #ff5e00;
}

.link:hover {
    /* border-bottom: 2px solid rgb(208,169,25); */
    color: #ff5e00;

}

