* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #01004b;
    height: 4vw;
    width: 100%;
    
}

h2 {
    color: var(--primary);
    text-align: center;
    font-size: 3vw;
    margin: 3% 0 3% 0;
    font-weight: 400;
}

a {
    color: var(--primary);
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.3vw;
}

a:hover {
    
    color: #ff5e00;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #01004b;
    padding: 0.5vw 0;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    width: 3vw;
}

.logo p {
    margin-left: 1vw;
    color: #ff5e00;
    font-family: federant;
    font-size: 2vw;
}

.logo a {
    text-decoration: none;
}

.logo :hover {
    color: #ffffff;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation a {
    text-decoration: none;
    font-size: 1.3vw;
    font-family: IMB;
    color: #f0f4f5;
    margin-left: 3vw;
}

.link:hover {
    color: #ff5e00;
    text-decoration: none;
}

.burger-menu {
    display: none;
    font-size: 2vw;
    background: none;
    border: none;
    color: #f0f4f5;
    cursor: pointer;
}


.page {

}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home h1 {
    font-size: 4vw;
    font-family: ;
    font-weight: 500;
    color: #ff5e00;
}

.home p {
    font-size: 1.4vw;
    font-family: ;
    font-weight: 500;
    color: #01004d;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news h2 {
    font-family: ;
}


:root {
    --primary: #FF5E00;
    --secondary: #01004B;
    --accent: #40E0D0;
    --neutral: #F5F5F5;
    --text: #333;
}

.news-slider {
    max-width: 85vw;
    padding: 4%;
    background: var(--secondary);
    border: 1px solid transparent;
    border-radius: 2vw;
}

.slider-container {
    position: relative;
    overflow: hidden;
    border-radius: 1.5vw;
    padding: 2% 0;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
    gap: 2vw;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 60%;
    background: var(--neutral);
    border-radius: 1vw;
    padding: 3%;
    box-shadow: 0 0.3vw 1vw rgba(0,0,0,0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.slide h3 {
    color: var(--primary);
    font-size: 2.2vw;
    margin: 0.5vw 0;
    font-family: arial;
    font-weight: 400;
}

.slide img {
    width: 35vw;
    height: 50%;
    border-radius: 0.5vw;
    margin: 2vw 0;
    box-shadow: 0 0.2vw 0.8vw rgba(0,0,0,0.2);
}

.slide p {
    color: var(--text);
    font-size: 1.3vw;
    line-height: 1.4;
}

.buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.8);
    color: var(--primary);
    border: none;
    padding: 1.5% 2%;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
    z-index: 999;
}

.buttons:hover {
    background: var(--primary);
    color: white;
}

.prev { left: 0vw; }
.next { right: 1vw; }

.indicators {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-top: 2vw;
}

.indicator {
    width: 1.5vw;
    height: 0.3vw;
    background: rgba(255,255,255,0.5);
    transition: 0.3s;
    cursor: pointer;
    border-radius: 16%;
  border: 1px solid transparent;
}

.indicator.active {
    background: var(--accent);
    
}







/* Блок курсов */
.courses {
    border-radius: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course_list {
    display: flex;
    justify-content: center;
    gap: 10%;
    background-color: var(--secondary);
    width: 85vw;
    padding: 5%;
    border: 1px solid transparent;
    border-radius: 1.5vw;
    
}

.online {
    background-color: #ffffff;
    padding: 3%;
    border-radius: 1vw;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.online img {
    width: 20vW;
    height: 20vw;
    object-fit: cover;
    border-radius: 1vw 1vw 0 0;
}

.online a {
    margin-top: 5%;
    font-size: 1.5vw;
}

/* Блок преподавателей */
.teachers_list {
    border-radius: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teacher_card {
    display: flex;
    background-color: var(--secondary);
    padding: 5%;
    gap: 3%;
    border: 1px solid transparent;
    border-radius: 1.5vw;
    align-items: center;
    justify-content: center;
    width: 85vw;
    
}

.teacher {
    background-color: #ffffff;
    border-radius: 1vw;
    text-align: center;
    transition: 0.3s;
}

.teacher img {
    width: 14vw;
    height: 18vw;
    object-fit: cover;
    border-radius: 1vw 1vw 0 0;
}

.teacher p {
    color: var(--primary);
    font-size: 1vw;
}

.teacher_text {
    padding: 4%;
}

.score {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    margin-top: 1%;
}

.score img {
    width: 2vw;
    height: auto;
}

/* Блок рейтинга */
.rating {
    border-radius: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rating p {
    font-size: 1.5vw;
}

.rating_text {
    display: flex;
    background-color: var(--secondary);
    color: #ffffff;
    padding: 3%;
    border: 1px solid transparent;
    border-radius: 1.5vw;
    width: 85vw;
    margin-bottom: 2%;
}

@media (max-width: 1024px) {
    nav {
        height: 10vw;
        display: flex;
        justify-content: space-between;
    }
    .logo {
        margin-left: 3%;
    }
    .logo img {
        width: 5vw;
    }
    .logo a {
        text-decoration: none;
    }

    .logo p {
        font-size: 5vw;
    }

    .navigation {

    }
    .navigation a {
        
    }
    .navigation {
        display: none;
        flex-direction: column;
        background-color: #01004b;
        position: absolute;
        top: 6vw;
        left: 0;
        width: 100%;
        padding: 2vw;
    }

    .navigation.active {
        display: flex;
        position: absolute;
        z-index: 999
    }

    .navigation a {
        margin: 1vw 0;
        font-size: 4vw;
    }

    .burger-menu {
        display: block;
        font-size: 5vw;
        margin-right: 3%;
    }

    .home h1 {
        font-size: 6vw;
    }

    .home p {
        font-size: 2.4vw;
    }

    .slides {
        gap: 1.5vw;
    }
    
    .slide {
        padding: 2.5vw;
    }
    
    .slide h3 {
        
    }
    
    .buttons {
        padding: 1.5vw 2.5vw;
    }

    h2 {
        font-size: 3.5vw;
    }

    .course_list {
        gap: 2%;
    }

    .teacher_card {
        display: flex;
        flex-wrap: wrap;
    }

    .teacher {
        margin: 2%;
    }
    
    .teacher p {
        font-size: 2.4vw;
    }
    .teacher img {
        width: 30vw;
        height: 35vw;
    }

    .score img {
        width: 5vw;
        height: 5vw;
    }

    .rating p {
        font-size: 2.5vw;
    }
}

@media (max-width: 767px) {
    .logo {
        margin-left: 3%;
    }
    .logo img {
        width: 5vw;
    }
    .logo a {
        text-decoration: none;
    }

    .logo p {
        font-size: 5vw;
    }

    .navigation {
        display: none;
        flex-direction: column;
        background-color: #01004b;
        position: absolute;
        top: 6vw;
        left: 0;
        width: 100%;
        padding: 2vw;
    }

    .navigation.active {
        display: flex;
        position: absolute;
        z-index: 999
    }

    .navigation a {
        margin: 1vw 0;
        font-size: 4vw;
    }

    .burger-menu {
        display: block;
        font-size: 5vw;
        margin-right: 3%;
    }
    .home h1 {
        font-size: 9vw;
    }

    .home p {
        font-size: 3.5vw;
    }


    .news-slider {
        padding: 6vw 4vw;
    }
    
    .slide {
        padding: 3vw;
    }
    
    .slide h3 {
        font-size: 3vw;
    }
    
    .slide p {
        font-size: 2vw;
    }

    .indicator {
        width: 2vw;
        height: 0.4vw;
    }
    
    .indicator.active {
        width: 5vw;
    }
    h2 {
        font-size: 6vw;
    }

    .course_list {
        flex-direction: column;
    }

    .online {
        margin-bottom: 3%;
    }

    .online a {
        font-size: 3vw;
    }

    .teacher_card {
        display: flex;
        flex-wrap: wrap;
    }

    .teacher {
        margin: 2%;
    }
    
    .teacher p {
        font-size: 2.4vw;
    }
    .teacher img {
        width: 30vw;
        height: 35vw;
    }

    .score img {
        width: 5vw;
        height: 5vw;
    }

    .rating p {
        font-size: 3vw;
    }

}

@media (max-width: 480px) {
    nav {

    }
    .logo p {
        font-size: 4vw;
    }
    .logo img {
        width: 5vw;
    }

    .navigation a {
        font-size: 3vw;
    }

    .link {

    }

    .home h1 {
        font-size: 14vw;
    }

    .home p {
        font-size: 4.5vw;
    }

    .buttons {
        padding: 2vw;
        font-size: 1.8vw;
    }
    
    .indicator {
        width: 2.5vw;
        height: 0.5vw;
    }
    
    .indicator.active {
        width: 6vw;
    }

    h2 {
        font-size: 7vw;
    }

    .course_list {
        flex-direction: column;
    }

    .online {
        margin-bottom: 3%;
    }

    .teacher_card {
        display: flex;
        flex-wrap: wrap;
    }

    .teacher {
        margin: 2%;
    }
    
    .teacher p {
        font-size: 2.4vw;
    }
    .teacher img {
        width: 30vw;
        height: 35vw;
    }

    .score img {
        width: 5vw;
        height: 5vw;
    }

    .rating p {
        font-size: 4vw;
    }
}