* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #01004b;
    height: 60px;
    /* border-bottom: 1px solid #a50c0a; */
}

a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo img {
    width: 45px;
}
.logo p {
    margin-left: 1vw;
    color: #ff5e00;
    font-family: federant;
    font-size: 30px;
    
}
.logo :hover {
    color: #ffffff;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation a {
    text-decoration: none;
    font-size: 20px;
    font-family: IMB;
    color: #f0f4f5;
    margin-left: 50px;
}

.link:hover {
    /* border-bottom: 2px solid rgb(208,169,25); */
    color: #ff5e00;

}


body {
    margin: 0;
    padding: 0;
    
    background-color: #01004b;
    color: #ffffff;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #ff5e00;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.2vw;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-size: 1.2vw;
    color: #01004b;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    background-color: #ffffff;
    color: #01004b;
    font-size: 1.1vw;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #ff5e00;
    outline: none;
}

button {
    padding: 15px;
    background-color: #ff5e00;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #e65400;
}

button a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-size: 1.1vw;
}

.sign {
    margin-top: 20px;
    text-align: center;
}

.sign a {
    color: #ff5e00;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1.1vw;
}

.sign a:hover {
    text-decoration: underline;
}